@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

:root{
    --orange: #ffa500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
}
.heading span.spacenow{
    background: none;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.btn{
    display: inline-block;
    background: var(--orange);
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    padding: .8rem 3rem;
    border: 2px solid var(--orange);
    border-radius: .5rem;
    font-size: 1.5rem;
}

.btn:hover{
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
}

::selection{
    background: var(--orange);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--orange);
}

header .navbar a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 1.2rem;
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons i{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var(--orange);
}

header .searchbar_container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
}

header .searchbar_container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .searchbar_container #search-bar{
    width: 100%;
    padding: 1rem;
   text-transform: none;
   color: #333;
   font-size: 1.7rem;
   border-radius: .5rem;
}

header .searchbar_container label{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1.5rem;
}

header .searchbar_container label:hover{
    color: var(--orange);
}

/* second part */
.login-form-container{
    z-index: 10000;
    position: fixed;
    top: -120%;
    left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3{
    text-align: center;
    font-size: 2.5rem;
    color: #444;
    text-transform: uppercase;
    padding: 1rem 0;
    color: var(--orange);
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    margin: .6rem 0;
    color: #333;
    font-size: 1.4rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--orange);
}

.login-form-container form #remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.3rem;
}

.login-form-container form p a{
    color: var(--orange);
    font-weight: bold;
    font-style: italic;
}

.login-form-container form p a:hover{
    text-decoration: underline;
    color: #333;
}

/* Form close container */

.login-form-container #form_close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.login-form-container.active{
    top: 0;
}

/* togglemenubar */
#menu_bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .4rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-flow: column;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.home .content{
   text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

/* video styling start */
.home .video_container video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0,0,.7);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}
.home .controls .vid-btn.active{
    background: var(--orange);
}

/* video styling end */

/* book start */
 .book .row{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     align-items: center;
 }

 .book .row .images{
     flex: 1 1 40rem;
 }
 
 .book .row .images img{
     width: 100%;
 }

 /* book animination start */
 .book .row .images img{
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
 }
 
 @keyframes example{
     0%{
         transform: translateY(0px);
     }
 
     50%{
         transform: translateY(50px);
     }
 
     100%{
         transform: translateY(0px);
     }
 }
 /* book animination end */
 .book .row form{
     flex: 1 1 40rem;
     padding: 2rem;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
     border-radius: .5rem;
 }
 .book .row form .inputbox{
     padding: .5rem 0;
 }
 .book .row form .inputbox input{
     width: 100%;
     padding: 1rem;
     border: 1rem solid rgba(0, 0, 0, .1);
     text-transform: none;
     color: #333;
     font-size: 1.2rem;
 }
 .book .row form .inputbox h3{
     color: #666;
     font-size: 1.4rem;
     margin: 0 .8rem;
     padding: .5rem 0;
 }
/* book end */


/* packages start */
.packages .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.packages .box_container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.packages .box_container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.packages .box_container .box .content{
    padding: 2rem;
}

.packages .box_container .box .content h3{
   color: #333;
   font-size: 1.8rem;
}

.packages .box_container .box .content h3 i{
  color: var(--orange);
  font-size: 1.5rem;
  margin: 0px .7rem;
 }

 .packages .box_container .box .content p{
     font-size: 1.4rem;
     color: #666;
     padding: 1rem 0;
   }
   .packages .box_container .box .content .stars i{
   font-size: 1.3rem;
   color: var(--orange);
  }
  .packages .box_container .box .content .price{
   font-size: 1.7rem;
   color: #333;
   padding-top: 1rem;
   }

   
  .packages .box_container .box .content .price span{
    font-size: 1.3rem;
   color: #666;
   text-decoration: line-through;
    }
  
/* packages end */

/* services start */
.services .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services .box_container .box{
    flex: 1 1 20rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

.services .box_container .box i{
    padding: 1rem;
    font-size: 3rem;
    color: var(--orange);
}
.services .box_container .box h3{
    font-size: 2.2rem;
    color: #333;
}
.services .box_container .box p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.services .box_container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}
/* services end */


/* gallery start */
.gallery .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box_container .box{
    overflow: hidden;
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 25rem;
    height: 25rem;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}
.gallery .box_container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .box_container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}
.gallery .box_container .box:hover .content{
    top: 0;
 }
.gallery .box_container .box .content h3{
    font-size: 2.2rem;
    color: var(--orange);
}

.gallery .box_container .box .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}
/* gallery end*/

/* review start */
 .review .box{
     padding: 2rem;
     text-align: center;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
     border-radius: .5rem;
 }

 .review .box img{
     height: 13rem;
     width: 13rem;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: 1rem;
 }

 .review .box h3{
   color: #333;
   font-size: 2.5rem;
 }

 .review .box p{
   color: #666;
   font-size: 1.4rem;
   padding: 1rem 0;
   text-align: justify;
 }
 .review .box .stars{
     color: var(--orange);
     font-size: 1.7rem;
 }
/* review end */

/* contact start */
 .contact .row{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     justify-content: center;
     align-items: center;
 }

 .contact .row .img{
     flex: 1 1 25rem;
 }

 .contact .row .img img{
     width: 100%;
 }

 .contact .row form{
    gap: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
   margin: .6rem 0;
  padding: .3rem; 
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
  border: 1px dashed lightgray;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}

.contact .row .img img{
   animation-name: example;
   animation-duration: 4s;
   animation-delay: 2s;
   animation-iteration-count: infinite;
}

@keyframes example{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }
}

/* contact end */


/* brand contact start */
.brand-container{
    text-align: center;
}
/* brand contact end */

/* footer start */
.footer{
    background: #333;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: .3rem 0;
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    font-size: 2rem;
    padding: 2rem 0;
    color: #fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: 2rem 0;
    color: #eee;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 2px 0px;
    color: #eee;
    
}
.footer .box-container .box a:hover{
    color: var(--orange);
    text-decoration: underline;
}
.footer .creadit{
    text-align: center;
    padding: 2rem 1rem;
   margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, .2);
}

.footer .creadit span{
    color: var(--orange);
    letter-spacing: 3px;
}

/* footer end */

/* scroll target */

::-webkit-scrollbar{
    width: 10px;
    background: var(--orange);
}

::-webkit-scrollbar-track{
    background: #fff;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb{
    background: var(--orange);
    border-radius: 20px;
}